@font-face {
    font-family: 'Designer';
    src: url('../fonts/Designer.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Designer', sans-serif;
}

.font-designer {
    font-family: 'Designer', sans-serif !important;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.background-texture {
    background-image: url('../img/bg-texture.png');
    background-size: cover;
    background-position: center;
}

.trapezoid {
    position: relative;
    min-width: 160px;
    height: 100%;
    background-color: #f97316;
    /* Orange-500 */
    transform: skew(-20deg);
}

.text {
    text-align: center;
    padding: 12px 16px;
    font-weight: bold;
    transform: skew(20deg);
}

.outline-trapezoid {
    position: relative;
    min-width: 160px;
    height: 100%;
    background: transparent;
    /* Orange-500 */
    transform: skew(-20deg);
    border-image: linear-gradient(to right, #D38631 0%, #F4D652 100%) 1;
    border-radius: 5px;
    /* this doesn't work */
    border-width: 4px;
    border-style: solid;
    padding: 5px;
    padding: 4px;
    color: #ffffff;
}

.outline-trapezoid:hover,
.outline-trapezoid:focus,
.outline-trapezoid:active {
    background: linear-gradient(0deg, #D38631, #fffdeae9, #ffb300af);
    color: #131721 !important;
}

.card-container {
    background: linear-gradient(0deg, #D38631, #fffdeae9, #ffb300af);
    /* White background */
    border-radius: 0.5rem;
    /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    transition: box-shadow 0.3s ease;
    border-radius: 1.5rem;
    border: #FFB400, 2px solid;
    align-items: center;
    position: relative;
    z-index: 1;
    filter: drop-shadow(0 4px 29px, rgb(204, 154, 1));
}

.bar-bg {
    background: linear-gradient(90deg, #D38631, #F4D652);
    height: 300px;
    position: relative;
    bottom: 0;
    transform: translate(0, -80%);
    z-index: 0
}

.d-none {
    display: none;
}

.img-clip {
    /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
}

.clip-outline-shape {
    position: relative;
    top: -155px;
    left: 70%;
    --s: 20px;
    /* control the shape (can be percentage) */

    height: 155px;
    aspect-ratio: 3/5;
    clip-path: polygon(0 0, var(--s) 0, 100% 50%, var(--s) 100%, 0 100%, calc(100% - var(--s)) 50%);
    background: #F38C09;
}

.clip-container {
    position: relative;
}

.cta {
    background: linear-gradient(90deg, #D38631, #F4D652);
    color: #131721 !important;
    font-weight: bold;
}